.new_line_bg {
    background-attachment: local;
    background-image:
        linear-gradient(to right, white 10px, transparent 10px),
        linear-gradient(to left, white 10px, transparent 10px),
        repeating-linear-gradient(white, white 30px, #ccc 30px, #ccc 31px, white 31px);
    line-height: 31px!important;
    padding: 2px 10px!important;
}

.linedtextarea textarea {
	padding-right:0.3em;
	padding-top:0.3em;
	border: 0;
}

.linedwrap .lines {
	margin-top: 0px;
	width: 25px;
	float: left;
	overflow: hidden;
	border-right: 1px solid #c0c0c0;
}

.linedwrap .codelines {
	padding-top: 5px;
}

.linedwrap .codelines .lineno {
	color:#AAAAAA;
	padding-right: 0.5em;
	padding-top: 0.0em;
	text-align: right;
	line-height: 31px!important;
}

.linedwrap .codelines .lineselect {
	color: red;
}

.insert_note{
	font-size: 1.2em;
    font-family: monospace;
}

#wpcmp_posts_titles:focus{
	box-shadow: none;
}